<div class="strategy-top">
	<div class="strategy-title">
		 <div class="strategy-icon-t"></div>
		 <h3 class="strategy-title-text">{{nls.strategy-title}}</h3>
	</div>
	<div class="strategy-tab-box">
	    <div class="strategyTab">
	        <span id="strategyCtrl" class="strategyBtn active">{{nls.s_left_title}}</span>
	        <span id="strategyContact" class="strategyBtn" style="left:125px;z-index: 2;">{{nls.s_right_title}}</span>
            <span id="strategyScript" class="strategyBtn">{{nls.s_script_title}}</span>
	    </div>
    </div>
</div>
<div class="strategy-content" id="strategy-content"></div>


