<!--
/*
 * © Copyright Lenovo 2015.
 *
 * LIMITED AND RESTRICTED RIGHTS NOTICE:
 *
 * If data or software is delivered pursuant a General Services Administration
 * "GSA" contract, use, reproduction, or disclosure is subject to
 * restrictions set forth in Contract No. GS-35F-05925.
*/
-->

<div>
	<div class="container-fluid nodesViewArea" style="padding-left:0px;">
		<div class="row">
			<div class="col-md-12">
				<div class="dataTable_wrapper">
					<table class="table table-striped table-hover table-bordered" style="width:100%;" id="nodeJobsTable"></table>
				</div>
			</div>
			
		</div>
	</div>
</div>