<!--
/*
 * © Copyright Lenovo 2015.
 *
 * LIMITED AND RESTRICTED RIGHTS NOTICE:
 *
 * If data or software is delivered pursuant a General Services Administration
 * "GSA" contract, use, reproduction, or disclosure is subject to
 * restrictions set forth in Contract No. GS-35F-05925.
*/
-->
<div class="admin-users-title" style="margin-bottom:0px;padding-left:20px;padding-right:20px;border:0px solid #eeeeee;">
   <div style="width:100%;height:100%;border-bottom:1px solid #eeeeee;">
		 <div class="new_monitor_icon new_operationLog_icon"></div><h3 class="overall-heading">{{nls.operationLog}}</h3>
	</div>	 
</div>
{{!节点列表开始}}
<div class="group-glist">
	<div class="row">
		<div class="col-md-12">
			<div class="dataTable_wrapper" id="listNodesTable_wrapper_only_1" style="margin-top:10px;width:100%;">
				<table class="table table-striped table-hover" style="width:100%;" id="operationLogTable"></table>
			</div>
		</div>
	</div>
</div>
{{!节点列表结束}}
<div class="modal fade" id="log_details_myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" style="margin-top:200px;">
			<div class="modal-header" style="border-bottom: 0px solid #ffffff !important;">
				<button type="button" class="close operation_log_close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					操作详情
				</h4>
			</div>
			<div class="modal-body log_details_myModal_body">
			
			</div>
			
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->

