<!--
/*
 * © Copyright Lenovo 2015.
 *
 * LIMITED AND RESTRICTED RIGHTS NOTICE:
 *
 * If data or software is delivered pursuant a General Services Administration
 * "GSA" contract, use, reproduction, or disclosure is subject to
 * restrictions set forth in Contract No. GS-35F-05925.
*/
-->
<div class="col-lg-6 col-md-12">
<div id="userBalance">
<div class='users-balance-text'>{{nls.accountBalance}}</div>
<div class='users-balance-number' id="users-balance-number"></div>
</div>
</div>
<div class="col-lg-6 col-md-12">
<div id="userNotice" class="user-notice-wrapper"></div>
</div>
