<!--
/*
 * © Copyright Lenovo 2015.
 *
 * LIMITED AND RESTRICTED RIGHTS NOTICE:
 *
 * If data or software is delivered pursuant a General Services Administration
 * "GSA" contract, use, reproduction, or disclosure is subject to
 * restrictions set forth in Contract No. GS-35F-05925.
*/
-->
   <div class="monitor_modal_up_right_row">
         <div class="monitor_modal_up_right_td" id="select_oneHourHistory_load">
              <div class="oneHourHistory_left" id="oneHourHistory_load"></div>
              <div class="oneHourHistory_right">
                    <div class="oneHourHistory_title">{{nls.load}}</div>
                    <div id="oneHourHistory_load_result" ></div>
              </div>
         </div>
          <div class="monitor_modal_up_right_td" id="select_oneHourHistory_network">
              <div class="oneHourHistory_left" id="oneHourHistory_network"></div>
              <div class="oneHourHistory_right">
                     <div class="oneHourHistory_title" >{{nls.network}}</div>
                     <div id="oneHourHistory_network_result_in" style="text-align:center;"></div>
              </div>
         </div>
   </div>
   <div class="monitor_modal_up_right_row">
         <div class="monitor_modal_up_right_td" id="select_oneHourHistory_cpu">
              <div class="oneHourHistory_left" id="oneHourHistory_cpu"></div>
              <div class="oneHourHistory_right">
                   <div class="oneHourHistory_title" >{{nls.cpu}}</div>
                   <div id="oneHourHistory_cpu_result" ></div>
              </div>
         </div>
         <div class="monitor_modal_up_right_td" id="select_oneHourHistory_temprature">
              <div class="oneHourHistory_left" id="oneHourHistory_temprature"></div>
              <div class="oneHourHistory_right">
                   <div class="oneHourHistory_title" >{{nls.temperature}}</div>
                   <div id="oneHourHistory_temprature_result" ></div>
              </div>
         </div>
   </div>
   <div class="monitor_modal_up_right_row">
        <div class="monitor_modal_up_right_td" id="select_oneHourHistory_memory">
              <div class="oneHourHistory_left" id="oneHourHistory_memory"></div>
              <div class="oneHourHistory_right">
                   <div class="oneHourHistory_title" >{{nls.memory}}</div>
                   <div id="oneHourHistory_memory_result" ></div>
              </div>
        </div>
        <div class="monitor_modal_up_right_td" id="select_oneHourHistory_enery">
             <div class="oneHourHistory_left" id="oneHourHistory_enery"></div>
             <div class="oneHourHistory_right">
                  <div class="oneHourHistory_title" >{{nls.energy}}</div>
                  <div id="oneHourHistory_enery_result"></div>
             </div>
        </div>
   </div>
   <div class="monitor_modal_up_right_row">
        <div class="monitor_modal_up_right_td" id="select_oneHourHistory_disk">
              <div class="oneHourHistory_left" id="oneHourHistory_disk"></div>
              <div class="oneHourHistory_right">
                   <div  class="oneHourHistory_title" >{{nls.disk}}</div>
                   <div id="oneHourHistory_disk_result" ></div>
              </div>
        </div>
     
   
      
   </div>
