
<?xml version="1.0" encoding="utf-8"?>
<div id="comsol" lico-job="comsol">
  <section class="col-md-12">
    <div class="col-md-12 select_title">Run Paramenters</div>
    <div class="col-md-12 form-group">
      <span class="control-label col-md-2">job name</span>
      <div class="ajax col-md-4" id="jobname" lico-type="input" validate="string">
        <input class="form-control" name="jobname" type="text"/>
      </div>
    </div>
    <div class="col-md-12 form-group">
      <span class="control-label col-md-2">queue</span>
      <div class="ajax col-md-4" id="queue" lico-type="select">
        <select class="col-md-4 form-control" name="queue">
          <option value="batch">batch</option>
        </select>
      </div>
    </div>
    <div class="col-md-12 form-group">
      <span class="control-label col-md-2">*workingdir</span>
      <div class="ajax col-md-4" id="workingdir" lico-type="file" require="true">
        <input class="form-control" disabled="disabled" type="text"/>
      </div>
      <div class="col-md-4">
        <button class="btn btn-default" lico-link="file" type="button">browse</button>
      </div>
    </div>
    <div class="col-md-12 form-group">
      <span class="control-label col-md-2">Run Mode</span>
      <div class="ajax col-md-4" id="runMode" lico-type="checkbox">
        <label class="checkbox-inline">
          <input name="runMode" type="checkbox" value="GUI">GUI</input>
        </label>
      </div>
    </div>
    <div class="col-md-12 form-group">
      <span class="control-label col-md-2">*Consol Bin</span>
      <div class="ajax col-md-4" id="ansysDir" lico-type="file" require="true">
        <input class="form-control" disabled="disabled" type="text"/>
      </div>
      <div class="col-md-4">
        <button class="btn btn-default" lico-link="file" type="button">browse</button>
      </div>
    </div>
    <div class="col-md-12 form-group">
      <span class="control-label col-md-2">*Working DIR</span>
      <div class="ajax col-md-4" id="workDir" lico-type="file" require="true">
        <input class="form-control" disabled="disabled" type="text"/>
      </div>
      <div class="col-md-4">
        <button class="btn btn-default" lico-link="file" type="button">browse</button>
      </div>
    </div>
    <div class="col-md-12 form-group">
      <span class="control-label col-md-2">Arguments</span>
      <div class="ajax col-md-4" id="ansysArguments" lico-type="input" validate="string">
        <input class="form-control" name="ansysArguments" type="text"/>
      </div>
    </div>
  </section>
  <section class="col-md-12">
    <div class="col-md-12 select_title">Environment Paramenters</div>
    <div class="col-md-12 form-group">
      <span class="control-label col-md-2">Parallel Mode</span>
      <div class="ajax col-md-4" id="paraMode" lico-type="radio">
        <label class="radio-inline">
          <input name="paraMode" type="radio" value="MPP">MPP</input>
        </label>
        <label class="radio-inline">
          <input name="paraMode" type="radio" value="SMP">SMP</input>
        </label>
      </div>
    </div>
    <div class="col-md-12 form-group">
      <span class="control-label col-md-2">*Input Type</span>
      <div class="ajax col-md-4" id="inputType" lico-type="file" require="true">
        <input class="form-control" disabled="disabled" type="text"/>
      </div>
      <div class="col-md-4">
        <button class="btn btn-default" lico-link="file" type="button">browse</button>
      </div>
    </div>
    <div class="col-md-12 form-group">
      <span class="control-label col-md-2">*output File</span>
      <div class="ajax col-md-4" id="outputFile" lico-type="file" require="true">
        <input class="form-control" disabled="disabled" type="text"/>
      </div>
      <div class="col-md-4">
        <button class="btn btn-default" lico-link="file" type="button">browse</button>
      </div>
    </div>
  </section>
</div>
