<!--
/*
 * © Copyright Lenovo 2015.
 *
 * LIMITED AND RESTRICTED RIGHTS NOTICE:
 *
 * If data or software is delivered pursuant a General Services Administration
 * "GSA" contract, use, reproduction, or disclosure is subject to
 * restrictions set forth in Contract No. GS-35F-05925.
*/
-->
<div class="modal fade" id="changeRateModal" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true">
	<div class="modal-dialog modal-overall">
		<div class="modal-content modal-content-overall">
			<div class="modal-header modal-header-overall">
				<h3 class="modal-title modal-title-overall new_user_mudle_partment">{{nls.changeRate}}</h3>
			</div>
			<div class="modal-body">
				<div class="row inputRow-overall">
					<div class="col-sm-10 col-sm-offset-1" id="rateMsgArea"></div>
				</div>
				<div class="row form-group inputRow-overall">
					<div class="col-sm-3 label-modal-overall">
						<label for="billGroupName" class="control-label">{{nls.accountingGroup}}: </label>
					</div>
					<div class="col-sm-8">
						<span id="billGroupName"></span>
					</div>
				</div>
				<div class="row form-group inputRow-overall">
					<div class="col-sm-3 label-modal-overall">
						<label for="currentRate" class="control-label">{{nls.currentRate}}: </label>
					</div>
					<div class="col-sm-8 groupInfoClass">
						<span id="currentRate"></span><span>{{nls.moneyType}}/{{nls.rateUnit}}</span>
					</div>
				</div>
				<div class="row form-group inputRow-overall">
					<div class="col-sm-3 label-modal-overall">
						<label for="changeRateInput" class="control-label">{{nls.changeRate}}: </label>
					</div>
					<div class="col-sm-8">
						<span><input type="text" id="changeRateInput" class="form-control inputwithUnitClass" style="margin-right:10px;" autofocus required>{{nls.moneyType}}/{{nls.rateUnit}}</span>	
					</div>
				</div>
			</div>
			<div class="modal-footer modal-footer-overall">
				<div class="row">
					<div class="col-sm-6">
						<button class="btn btn-primary btn-narrowModal" id="changeRateOKBtn" disabled>{{nls.OK}}</button>
					</div>
					<div class="col-sm-6">
						<button class="btn btn-default btn-narrowModal" data-dismiss="modal">{{nls.Cancel}}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>