<!--
/*
 * © Copyright Lenovo 2015.
 *
 * LIMITED AND RESTRICTED RIGHTS NOTICE:
 *
 * If data or software is delivered pursuant a General Services Administration
 * "GSA" contract, use, reproduction, or disclosure is subject to
 * restrictions set forth in Contract No. GS-35F-05925.
*/
-->
<div class=" footer-info" id="footer-info" style="float:left;"></div>
<div class=" footer-about">
    <span class="footer-about-text" style="float:right;">
    {{nls.versionNumber}}: {{constants.version}} | {{nls.allRightsReserved}}: {{constants.year}} <a href="http://www.lenovo.com" target="_blank">{{nls.lenovoGroup}}</a> | <span id="footer-about-hpc" class="footer-about-hpc">{{nls.about}} {{constants.productName}}</span>
    </span>
</div>