/*
 * © Copyright Lenovo 2015.
 *
 * LIMITED AND RESTRICTED RIGHTS NOTICE:
 *
 * If data or software is delivered pursuant a General Services Administration
 * "GSA" contract, use, reproduction, or disclosure is subject to
 * restrictions set forth in Contract No. GS-35F-05925.
*/
.overall-padding {
	padding-top: 20px;
}

.userModalInput {
	padding-right: 0px;
	display: inline-block;
	padding-left: 7px;
	width: 180px;
}

.btn-narrowModal {
	width: 50%;
	margin-right: 25%;
}

#userGrid  tr td:first-child {
	text-align: center;
}

#userGrid  tr td.check:before {
	content:
		url('/static/js/customUI/userManagement/style/images/default.png');
	/*content:"\f10c";*/ /* fa-circle-o */
	/*content: "\f096";*/ /* fa-square-o */
	/*font-family: FontAwesome;*/
}

#userGrid  tr.selected td.check:before {
	content:
		url('/static/js/customUI/userManagement/style/images/check.png')
		!important;
	/*content:"\f05d";*/ /* fa-check-circle-o */
	/*content: "\f046";*/ /* fa-check-square-o */
}

#userGrid  tr:hover td.check:before {
	content:
		url('/static/js/customUI/userManagement/style/images/hover.png');
}

.dt-center {
	text-align: center;
}

.multiselect.btn.btn-default {
	overflow: inherit !important;
}

.left-style {
	padding-left: 30px;
	padding-right: 0px;
}

.right-style {
	padding-right: 30px;
	padding-left: 0px;
}

.tips-header {
	font-weight: 600;
}

.tips-content {
	padding-left: 20px;
}

.deletingStatusIcon {
	height: 25px;
	width: 25px;
	display: inline-block;
	background-image:
		url('/static/js/customUI/userManagement/style/images/deleting.gif');
	background-repeat: no-repeat;
	background-position: center;
}

.creatingStatusIcon {
	height: 25px;
	width: 25px;
	display: inline-block;
	background-image:
		url('/static/js/customUI/userManagement/style/images/adding.gif');
	background-repeat: no-repeat;
	background-position: center;
}

.invalidStatusIcon {
	height: 25px;
	width: 25px;
	display: inline-block;
	background-image:
		url('/static/js/customUI/userManagement/style/images/invalid.png');
	background-repeat: no-repeat;
	background-position: center;
}

.errorStatusIcon {
	height: 25px;
	width: 25px;
	display: inline-block;
	background-image:
		url('/static/js/customUI/userManagement/style/images/invalid.png');
	background-repeat: no-repeat;
	background-position: center;
}

.updatingStatusIcon {
	height: 25px;
	width: 25px;
	display: inline-block;
	background-image:
		url('/static/js/customUI/userManagement/style/images/updating.gif');
	background-repeat: no-repeat;
	background-position: center;
}

.warningIcon {
	height: 25px;
	width: 25px;
	display: inline-block;
	background-image:
		url('/static/js/customUI/userManagement/style/images/warning.png');
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: middle;
}

.modal-footer-overall {
	margin-bottom: 15px;
}

#userGrid_length{
	width:30%;
	
	float:left;
}
#userGrid_filter{
	width:30%;
	
	float:right;
}
#userGrid_info{
	width:30%;
	
	float:left;
}
#userGrid_paginate{
	width:30%;
	
	float:right;
}

.admin-users-nav {
	position:absolute;
	height:90%;
	float: left;
	width: 10%;
	background-color: #F2F2F2;
	min-width: 140px;
}

.admin-users-main {
	position:absolute;
	left:10%;
	width:90%;
	height:90%;
	float:left;
	background-color:#ffffff;
	padding-left: 20px;
	overflow-y: auto;
}

ul.sidenav {
	font-size: 16px;
	float: left;
	width:100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.sidenav li {
	height: 60px;
}

ul.sidenav li a {
	display: block;
	color: #757575;
	text-decoration: none;
	width: 100%;
	line-height: 60px;
	padding: 0px 10px 0px 45px;
}

.admin-users-groups-mgt {
	background:
		url('/static/js/customUI/userManagement/style/images/ic_supervisor_account_grey600_36x36.png')
		no-repeat 5px center;
}

.admin-users-groups-mgt:hover {
	background: white
		url('/static/js/customUI/userManagement/style/images/ic_supervisor_account_grey600_36x36.png')
		no-repeat 5px center;
}

.admin-users-users-mgt {
	background:
		url('/static/js/customUI/userManagement/style/images/ic_account_box_grey600_36x36.png')
		no-repeat 5px center;
}

.admin-users-users-mgt:hover {
	background: white
		url('/static/js/customUI/userManagement/style/images/ic_account_box_grey600_36x36.png')
		no-repeat 5px center;
}

.admin-users-accounting-mgt {
	background:
		url('/static/js/customUI/userManagement/style/images/ic_account_balance_wallet_grey600_36x36.png')
		no-repeat 5px center;
}

.admin-users-accounting-mgt:hover {
	background: white
		url('/static/js/customUI/userManagement/style/images/ic_account_balance_wallet_grey600_36x36.png')
		no-repeat 5px center;
}
.modal-header-overall_uerManagement{
	text-align:center;
}
.row_uerManagement{padding-left: 30px;}
.userViewArea_userManagemwnt{padding-left:20px;}
.dataTable_wrapper_userManagemwnt{margin-top:10px;width:100%;}
#userGrid{width:100%;}
