<!--
/*
 * © Copyright Lenovo 2015.
 *
 * LIMITED AND RESTRICTED RIGHTS NOTICE:
 *
 * If data or software is delivered pursuant a General Services Administration
 * "GSA" contract, use, reproduction, or disclosure is subject to
 * restrictions set forth in Contract No. GS-35F-05925.
*/
-->

<div class="col-lg-2 col-md-6 resource-container admin-resource-cell">
	<div class="banner-slider" id="io-window-container1">
		<div  class="io-window-container"></div>
	</div>
</div>

<div class="col-lg-2 col-md-6 resource-container admin-resource-cell">
	<div class="banner-slider" id="io-window-container2" style="text-align:center">
		<div  class="io-window-container"></div>
	</div>
</div>

<div class="col-lg-2 col-md-6 resource-container admin-resource-cell">
	<div class="banner-slider" id="io-window-container3">
		<div  class="io-window-container"></div>
	</div>
</div>
<div class="col-lg-2 col-md-6 resource-container admin-resource-cell">
	<div id="admin-clusterCPU-holder" class="resource-holder"></div>
</div>
<div class="col-lg-2 col-md-6 resource-container admin-resource-cell">	
	<div id="admin-clusterMemory-holder" class="resource-holder"></div>
</div>
<div class="col-lg-2 col-md-6 resource-container admin-resource-cell">
	<div id="admin-storage-holder" class="resource-holder"></div>
</div>