/*
 * © Copyright Lenovo 2015.
 *
 * LIMITED AND RESTRICTED RIGHTS NOTICE:
 *
 * If data or software is delivered pursuant a General Services Administration
 * "GSA" contract, use, reproduction, or disclosure is subject to
 * restrictions set forth in Contract No. GS-35F-05925.
*/
.nodeSelectClass {
	
}

.nodesArea {
	/*padding-left: 20px;*/
}

/*.nodesViewArea {
	padding-left: 20px;
	padding-right: 20px;
}*/

/*#nodeJobsTable_wrapper{
	border:1px solid #e2e2e2;
}
#nodeJobsTable_wrapper tr th{
	border-right: 1px solid #e2e2e2; 
}
#nodeJobsTable_wrapper tr td{
	border-right: 1px solid #e2e2e2; 
}
*/
#nodeslarmTable_wrapper #nodeslarmTable_length{
    margin-top: 10px;
    margin-left: 10px;
}
#nodes_alarm_tab_content .container-fluid,#history-tab-panel_running_jobs .container-fluid{
  padding-left: 0;
  padding-right: 0;
}
#nodes_alarm_tab_content .table-bordered>thead>tr>td,
#history-tab-panel_running_jobs .table-bordered>thead>tr>th,
#nodes_alarm_tab_content .table-bordered>thead>tr>th,
#history-tab-panel_running_jobs .table-bordered>thead>tr>td {
     border-bottom-width: 1px !important; 
}
#nodes_alarm_tab_content .table-bordered,#history-tab-panel_running_jobs .table-bordered {
    border: 1px solid #ddd;
    /* border-top: none; */
    border-left: none;
    border-right: none;
}
