<!--
/*
 * © Copyright Lenovo 2015.
 *
 * LIMITED AND RESTRICTED RIGHTS NOTICE:
 *
 * If data or software is delivered pursuant a General Services Administration
 * "GSA" contract, use, reproduction, or disclosure is subject to
 * restrictions set forth in Contract No. GS-35F-05925.
*/
-->
<div class="col-lg-12 col-md-12">
	<div id="cluster_name" ></div>
	<div id="status_section">
		<div id="scheduler_status_up_name" >{{nls.scheduler}}</div>
		<div id="scheduler_status" ></div>
		<div id="fs_status_up_name">{{nls.fs}}</div>
		<div id="fs_status" ></div>
	</div>
	<div id="error_notify">{{nls.err_msg}}</div>
</div>