/*
 * © Copyright Lenovo 2015.
 *
 * LIMITED AND RESTRICTED RIGHTS NOTICE:
 *
 * If data or software is delivered pursuant a General Services Administration
 * "GSA" contract, use, reproduction, or disclosure is subject to
 * restrictions set forth in Contract No. GS-35F-05925.
*/
.user-notice-wrapper {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.notice-icon {
	color: #428BCA;
}

.notice-text {
	margin-left: 10px;
	font-size: 16px;
}

.users-balance-text {
	margin-left: 10px;
	font-size: 16px;
	float:left;
}

.users-balance-number {
	margin-left: 25px;
	font-size: 16px;
	float:left;
	line-height: 22px;
}
#userBalance{
	height:22px;
	line-height:22px;
}
