<!--
/*
 * © Copyright Lenovo 2015.
 *
 * LIMITED AND RESTRICTED RIGHTS NOTICE:
 *
 * If data or software is delivered pursuant a General Services Administration
 * "GSA" contract, use, reproduction, or disclosure is subject to
 * restrictions set forth in Contract No. GS-35F-05925.
*/
-->
<div class="col-lg-4 col-md-12">
	<div class="job-header">{{nls.workingStatus}}</div>
	<div class="job-container">
		<div class="job-data">
		<canvas id="job-area" width="245" height="245"></canvas>
		</div>
		<div class="job-footer"></div>
	</div>
	<!--
    <div style="height:200px;width:200px;background-color:red;margin-left:auto;margin-right:auto;"></div>
    -->
</div>
<div class="col-lg-8 col-md-12">
    <div id="job_table"></div>
</div>