   
	<div class="select_general select_part_general" id="select_general" >
	     <div class='select_info_general'></div>
	     <div class="select_font_general">GENERAL</div>
	</div>
	
	{{!
	<div class="select_mpi select_part" id="select_mpi" >
	      <div class='select_info_mpi'></div>
	     <div class="select_font_mpi">mpi</div>
	</div>
    }}




