<div style="background-color:#fff;padding: 0 20px;">
	<div class="admin-users-title">
		 <div class="new_monitor_icon new_grouper_icon"></div>
		 <h3 class="overall-heading">{{nls.node_title}}</h3>
	</div>
	<div class="groups_selected">
		<span class="groups_l pull-left">{{nls.node_select}}</span>
		<select id="groups_selected_item" class="pull-left groups_selected_item">
		</select>
	</div>
	<div id="g_mymodal">
	</div>
	<div id="groups_group_content"  class="groups-group-content">
		<div class="group-title">
			<div class="group-title-tab active" id="group_list">{{nls.node_title}}</div>
			<div class="group-title-tab" id="tendency">{{nls.tendency}}</div>
			<div class="group-title-tab" id="heat">{{nls.heat}}</div>
		</div>

		<div class="group-body" id="group_body">
		</div>
	</div>
</div>



