<!--
/*
 * © Copyright Lenovo 2015.
 *
 * LIMITED AND RESTRICTED RIGHTS NOTICE:
 *
 * If data or software is delivered pursuant a General Services Administration
 * "GSA" contract, use, reproduction, or disclosure is subject to
 * restrictions set forth in Contract No. GS-35F-05925.
*/
-->
<div class="modal fade" id="changePwdModal" role="dialog" aria-hidden="true" data-backdrop="true" data-keyboard="true">
	<div class="modal-dialog pwdDlg modal-overall">
		<div class="modal-content modal-content-overall">
			<div class="modal-header modal-header-overall">
				<h3 class="modal-title modal-title-overall" aria-labelledby="{{nls.changePwdTitle}}">{{nls.changePwdTitle}}</h3>
			</div>
			<div class="modal-body modal-body-overall">	
				<div class="row inputRow-overall" id="pwdChangeErrorMsgArea" style="display:none;">
					<span id="pwdErrorMsg"></span>
				</div>			
			    <div class="form-group row inputRow-overall">
			    	<div class="col-sm-2 label-modal-overall">
			    		<label for="currentUser" class="control-label">{{nls.userName}}: </label>
			    	</div>
			    	<div class="col-sm-4 pwdRow">
			    		<span id="currentUser" class="userNameSpan"></span>	
			    	</div>        	
			    </div>
			    <div class="form-group row inputRow-overall">
			    	<div class="col-sm-2 label-modal-overall">
			    		<label for="oldPassword" class="control-label">{{nls.oldPassword}}: </label>
			    	</div>
			    	<div class="col-sm-4 pwdRow">
			    		<input type="password" id="oldPassword" class="form-control" maxlength="100"
                                autocapitalize="off" autocorrect="off" autofocus="true">
			    	</div>
			    	<div class="col-sm-5">
			    		<div id="emptyOldPwdMsg" class="emptyPwdMsg"></div>
			    	</div>
			    </div>
			    <div class="form-group row inputRow-overall">
			    	<div class="col-sm-2 label-modal-overall">
			    		<label for="newPassword" class="control-label">{{nls.newPassword}}: </label>
			    	</div>				      	
			      	<div class="col-sm-4 pwdRow">
			      		<input id="newPassword" type="password" class="form-control" maxlength="100"
                                autocapitalize="off" autocorrect="off" autofocus="true">
			      	</div>	
			      	<div class="col-sm-5">
			      		<div id="emptyNewPwdMsg" class="emptyPwdMsg"></div>
			      	</div>			      	
			    </div><!-- new password input -->
			    <div class="form-group row inputRow-overall has-feedback">
			    	<div class="col-sm-2 pwdRow  label-modal-overall">
			    		<label for="confirmPassword" class="control-label">{{nls.confirmPassword}}: </label>
			    	</div>				      	
			      	<div class="col-sm-4 pwdRow">
			      		<input type="password" id="confirmPassword" class="form-control" maxlength="100"
                                autocapitalize="off" autocorrect="off">
                        <i id="newPwdStatusIcon" class="form-control-feedback"></i>
			      	</div>	
			      	<div class="col-sm-5">
			      		<div id="confirmNewPwdMsg" class="emptyPwdMsg"></div>
			      	</div>	      	
			    </div><!-- confirm new password input -->
			</div>
			<div class="modal-footer modal-footer-overall">
				<button class="btn btn-primary btn-base" id="okChangeBtn" disabled='disabled'>{{nls.OK}}</button>
				<button class="btn btn-default btn-base" data-dismiss="modal">{{nls.Cancel}}</button>
			</div>
		</div>
	</div>
</div>

