<div class="heat_button">
	<div class="row">
		<div class="col-sm-12">
			<div class="heat-btn">
				<div class="mr40">
					<a href="javascript:;" class="btn btn-default heat_btn_item active" data-type="load">{{nls.load_btn}}</a>
					<a href="javascript:;" class="btn btn-default heat_btn_item" data-type="cpu">{{nls.cpu_btn}}</a>
					<a href="javascript:;" class="btn btn-default heat_btn_item" data-type="memory">{{nls.memory_btn}}</a>
					<a href="javascript:;" class="btn btn-default heat_btn_item" data-type="disk">{{nls.disk_btn}}</a>
					<a href="javascript:;" class="btn btn-default heat_btn_item" data-type="network">{{nls.network_btn}}</a>	
					<a href="javascript:;" class="btn btn-default heat_btn_item" data-type="energy">{{nls.energy_btn}}</a>		
					<a href="javascript:;" class="btn btn-default heat_btn_item" data-type="temperature">{{nls.temperature_btn}}</a>
					<a href="javascript:;" class="btn btn-default heat_btn_item" data-type="job" style="margin-right:0">{{nls.job_btn}}</a>
				</div>
			</div>
		</div>
	</div>		
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="heat_content" id="heat_content">
		
		</div>
		<div class="group-pagination-box">
			<div class="group-pagination"  id="group-pagination">
				<div class="previous">
				  <a href="javascript:;" aria-label="Previous">{{nls.previous}}</a>
				</div>
				<div class="group-pagination-item">
					
				</div>
				<div class="next">
				  <a href="javascript:;" aria-label="Next">{{nls.next}}</a>
				</div>
			</div>	
		</div>
	</div>
</div>



<div id="g_shut_modal">
</div>






	